[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openZeppelin-contracts"]
	path = lib/openZeppelin-contracts
	url = https://github.com/OpenZeppelin/openZeppelin-contracts
